<header class="home-page-header__mobile-header snipcss-dD2t9">
  <img class="home-page-header__logo" src="https://internetingishard.netlify.app/interneting-is-hard-logo-97b225.1eb3a58f.svg" alt="Wifi icon with exclamation mark">
  <div class="heading home-page-header__heading">
    <h1 class="heading__title">
      Interneting
      <br class="heading__title-br">
      Is Hard 
    </h1>
    <div class="heading__parenthesis-rule">
      <div class="heading__rule-before">
      </div>
      <div class="heading__parenthesis">
        (But it doesn’t have to be) 
      </div>
      <div class="heading__rule-after">
      </div>
    </div>
    <div class="heading__subtitle home-page-header__subtitle">
      Friendly web development tutorials for complete beginners 
    </div>
  </div>
</header>



@font-face { 
  font-family:Century;
  src:url(https://internetingishard.netlify.app/CenturySchoolbook-Bold-webfont.f90149b3.eot);
  src:url(https://internetingishard.netlify.app/CenturySchoolbook-Bold-webfont.f90149b3.eot?) format("embedded-opentype"),url(https://internetingishard.netlify.app/CenturySchoolbook-Bold-webfont.57ae4846.woff2) format("woff2"),url(https://internetingishard.netlify.app/CenturySchoolbook-Bold-webfont.12a8c386.woff) format("woff"),url(https://internetingishard.netlify.app/CenturySchoolbook-Bold-webfont.aed8a0b4.ttf) format("truetype"),url(https://internetingishard.netlify.app/CenturySchoolbook-Bold-webfont.79821eaa.svg) format("svg");
  font-weight:700;
  font-style:normal;
} 
@font-face { 
  font-family:Century;
  src:url(https://internetingishard.netlify.app/CenturySchoolbook-Italic-webfont.525e13e3.eot);
  src:url(https://internetingishard.netlify.app/CenturySchoolbook-Italic-webfont.525e13e3.eot?) format("embedded-opentype"),url(https://internetingishard.netlify.app/CenturySchoolbook-Italic-webfont.9aaece45.woff2) format("woff2"),url(https://internetingishard.netlify.app/CenturySchoolbook-Italic-webfont.5042fa22.woff) format("woff"),url(https://internetingishard.netlify.app/CenturySchoolbook-Italic-webfont.11a0fbbc.ttf) format("truetype"),url(https://internetingishard.netlify.app/CenturySchoolbook-Italic-webfont.15edf12a.svg) format("svg");
  font-weight:400;
  font-style:italic;
} 
@font-face { 
  font-family:Century;
  src:url(https://internetingishard.netlify.app/CenturySchoolbook-Regular-webfont.69f3d138.eot);
  src:url(https://internetingishard.netlify.app/CenturySchoolbook-Regular-webfont.69f3d138.eot?) format("embedded-opentype"),url(https://internetingishard.netlify.app/CenturySchoolbook-Regular-webfont.2f3c6578.woff2) format("woff2"),url(https://internetingishard.netlify.app/CenturySchoolbook-Regular-webfont.b98aa5ee.woff) format("woff"),url(https://internetingishard.netlify.app/CenturySchoolbook-Regular-webfont.5877d380.ttf) format("truetype"),url(https://internetingishard.netlify.app/CenturySchoolbook-Regular-webfont.6f82d0d3.svg) format("svg");
  font-weight:400;
  font-style:normal;
} 
@font-face { 
  font-family:Harman Retro;
  src:url(https://internetingishard.netlify.app/Harman-Retro-webfont.cf231d3b.eot);
  src:url(https://internetingishard.netlify.app/Harman-Retro-webfont.cf231d3b.eot?) format("embedded-opentype"),url(https://internetingishard.netlify.app/Harman-Retro-webfont.46246e6e.woff2) format("woff2"),url(https://internetingishard.netlify.app/Harman-Retro-webfont.f4cfa8ac.woff) format("woff"),url(https://internetingishard.netlify.app/Harman-Retro-webfont.51471392.ttf) format("truetype"),url(https://internetingishard.netlify.app/Harman-Retro-webfont.959b79bc.svg) format("svg");
  font-weight:400;
  font-style:normal;
} 
@font-face { 
  font-family:Harman Simple;
  src:url(https://internetingishard.netlify.app/Harman-Simple-webfont.66675f5c.eot);
  src:url(https://internetingishard.netlify.app/Harman-Simple-webfont.66675f5c.eot?) format("embedded-opentype"),url(https://internetingishard.netlify.app/Harman-Simple-webfont.1478a69a.woff2) format("woff2"),url(https://internetingishard.netlify.app/Harman-Simple-webfont.ce530aec.woff) format("woff"),url(https://internetingishard.netlify.app/Harman-Simple-webfont.90894152.ttf) format("truetype"),url(https://internetingishard.netlify.app/Harman-Simple-webfont.1946f8f0.svg) format("svg");
  font-weight:400;
  font-style:normal;
} 
  body {  
    background:linear-gradient(0deg,#f9fafb 0,#fff);
    font-size:17px;
    line-height:1.6em;
    font-family:Century;
    color:#5d6063;
  }  
@media only screen and (min-width: 750px){     
  body {  
    font-size:18px;
    line-height:28px;
  }  
}  
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
} 

body { 
    font-size: 17px; 
    line-height: 1.6em; 
    font-family: Century; 
    color: #5d6063; 
    background-color: #fff; 
    -moz-osx-font-smoothing: grayscale; 
    -webkit-font-smoothing: antialiased; 
    min-width: 320px; 
    position: relative; 
    z-index: 1;
} 

@media only screen and (min-width: 750px){ 
  body { 
    font-size: 18px; 
    line-height: 28px;
  } 
}     

header { 
    display: block;
} 

.home-page-header__logo { 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
} 

@media only screen and (min-width: 750px){ 
  .home-page-header__logo { 
    width: 163px; 
    height: 128px; 
    margin-bottom: 58px;
  } 

  .home-page-header__heading { 
    max-width: 600px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 42px;
  } 
}     

h1 { 
    font-weight: 400;
} 

.heading__title { 
    font-family: Harman Retro; 
    font-weight: 400; 
    font-size: 37px; 
    line-height: 40px; 
    text-transform: lowercase;
} 

@media only screen and (min-width: 750px){ 
  .heading__title { 
    font-size: 57px; 
    line-height: 60px; 
    text-align: center; 
    margin-bottom: 12px;
  } 
}     

.heading__parenthesis-rule { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex;
} 

.heading__subtitle { 
    font-family: Century; 
    font-style: italic; 
    font-size: 14px; 
    line-height: 22px;
} 

@media only screen and (min-width: 750px){ 
  .heading__subtitle { 
    font-size: 18px; 
    line-height: 28px; 
    text-align: center;
  } 
}     

@media only screen and (min-width: 500px){ 
  .heading__title-br { 
    display: none;
  } 
}     

.heading__rule-before { 
    border-top: 1px solid #959ba0; 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1; 
    position: relative; 
    top: 10px;
} 

.heading__rule-before { 
    margin-right: 12px;
} 

@media only screen and (min-width: 750px){ 
  .heading__rule-before { 
    top: 12px;
  } 
}     

.heading__parenthesis { 
    font-family: Harman Simple; 
    font-weight: 400;
} 

@media only screen and (min-width: 750px){ 
  .heading__parenthesis { 
    font-size: 24px; 
    margin-bottom: 10px; 
    text-align: center;
  } 
}     

.heading__rule-after { 
    margin-left: 12px;
} 

.heading__rule-after { 
    border-top: 1px solid #959ba0; 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1; 
    position: relative; 
    top: 10px;
} 

@media only screen and (min-width: 750px){ 
  .heading__rule-after { 
    top: 12px;
  } 
}     


